body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(white, green);
}
.header {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.atras{
    width: 100%;
    height: 400px;
}

.logo {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position:absolute;
}

.nav {
    
    display: grid;
    grid-template-columns: 25% 75%;
    text-transform:uppercase;
    color: rgb(5, 169, 84);
    background-color: #ffffff;
}
.mensaje {
    /* border: solid 1px green; */
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Smooch', cursive;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mensaje h1, p {
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.mensaje p{
    font-family:sans-serif;
    font-style: italic;
} 

.navBar {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
align-items: center;
font-size: 20px;
font-family: 'Quicksand', sans-serif;
font-family: 'Smooch', cursive;
width: 100%;

}

.navBar ul, li, a{
    margin: 0;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}

.navBar ul{
    list-style: none;
}

.navBar a{
    text-decoration: none;
    text-align: center;
    color: #000;
}

.navBar a:hover{
    background-color: rgb(23, 196, 7);
    color: white;
    font-size: 33px;
    border-radius: 10px;
}

.descuentos-container{
margin: 20px;
}

.caja-descuento{
border: 3px solid white;
border-radius: 30px;
margin: 20px;
display: flex;
align-items: center;
padding: 10px;
}

.uno, .tres{
    margin-right: 300px;
}

.dos {
    margin-left: 300px;
}

.caja-descuento figure{
margin: 0;
padding: 0;
}

.descuento-img{
height: 250px;
width: 250px;
border-radius: 100%;
}

.descuento-description h1{
    font-size: 40px;
    margin: 10px;
    text-align: justify;
}



 footer{
     text-align: center;
     color: #FFFFFF;
     margin: 30px;
 }

/* ---responsive---- */
@media (max-width: 1024px){
    .nav{
    display: block;
    margin-top: -20px
    }
    
    .mensaje{
        margin: 20px;
        font-size: 20px;
    }

    .caja-descuento {
        margin: 20px;
    }
}

@media (max-width: 850px){
    .logo {
        height:150px;
        width: 150px;
    }
    .nav{
    display: block;
    }

    .mensaje{
        padding: 20px;
        height: 100px;
        font-size: 24px;
        }
    .navBar{
    display: none;
    }

    .caja-descuento {
        display: flex;
        flex-direction: column;
    }

    
}